<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <title>社員登録完了確認</title>

</head>

<body>


  <!-- ヘッダー -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarEexample">
        <a class="navbar-brand" href="#">社員登録完了画面</a>
        <a href="logout.php"><button class="btn btn-danger navbar-right navbar-btn">ログアウト</button></a>
        <p class="navbar-text navbar-right">ようこそ {{ session_name }} さん。&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div>
  </nav>


<div class="container">

  <h3 class="col-sm-offset-4 complete">社員の登録が完了しました。</h3>
  <a href="worker_list.php"><button type="button" class="btn btn-primary col-sm-offset-5" style="margin-top: 60px;">一覧へ戻る</button></a>

</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
